<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="public/styles/estilos.inicioEJS.css">
  <title>Alumnos Anuario</title>
</head>
<body>

  <header>
    <div class="left-section">
      <button class="btn_head"></button>
    </div>
    <div class="center-section">
      <h1>Anuario Escolar</h1>
    </div>
    <div class="right-section">
        <ul>
            <li><a href="/inicio">Inicio</a></li>
            <li><a href="/alumnos">Alumnos</a></li>
            <li><a href="/perfil">Perfil</a></li>
            <li><a href="/">Cerrar sesión</a></li>
          </ul>
    </div>
  </header>
  
  <main>
    <input type="text" id="buscador" placeholder="Buscar por nombre">
    <button id="btnBuscar" onclick="">Buscar</button>

    <div class="contenedor">
        <%rows.forEach(alumnos => {%>
        <div class="card">
            <figure>
                <img src="/imagenes/<%=alumnos.foto%>" alt="">
            </figure>
            <div class="contenido">
                <h3><%=alumnos.nombre%> <%=alumnos.apellidos%></h3>
                <p>Correo: <%=alumnos.correo%></p>
                <p>Carrera: <%=alumnos.carrera%></p>
                <p>Semestre: <%=alumnos.semestre%></p>
                <a href="#">Leer más...</a>
            </div>
        </div>
        <%})%>
    </div>
  </main>
  <script src="/scripts/script.buscar.js"></script>
</body>

</html>