<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/estilos.admins.css">
    <title>Inicio Admins</title>
</head>
<body>
    <header>
        <div class="left-section">
          <button class="btn_head"></button>
        </div>
        <div class="center-section">
          <h1>Anuario Escolar</h1>
        </div>
        <div class="right-section">
            <ul>
                <li><a href="/inicio-admin">Alumnos</a></li>
                <li><a href="/Proyectos">Proyectos</a></li>
                <li><a href="/">Cerrar sesión</a></li>
              </ul>
        </div>
      </header>
      <main>
        <h2>Tabla de Proyectos</h2>
        <div class="container_todo">
          
  <table class="tabla">
    <tr>
      <th>ID</th>
      <th>Titulo</th>
      <th>Descripción</th>
      <th>ID alumno</th>
      <th></th>
      <th></th>
    </tr>
    <% proyectos.forEach(function(alumno) { %>
        <tr>
          <td><%= alumno.id_proyectos %></td>

          <td><input type="text" name="f_titulo" value="<%= alumno.titulo %>"></td>
          <td><input type="text" name="f_descripcion" value="<%= alumno.descripcion %>"></td>
          <td><%= alumno.id_alumno %></td>
          <td><button data-proyecto-id="<%= alumno.id_proyectos %>" onclick="borrarProyecto(this)">Borrar</button></td>
          <td><button onclick="editarProyecto(this, '<%= alumno.id_proyectos %>')">Editar</button></td>
        </tr>
      <% }); %>
      <tr>
        <td><input type="text" id="idproyecto"></td>
        <td><input type="text" id="titulo"></td>
        <td><input type="text" id="descripcion"></td>
        <td><input type="text" id="idalumno"></td>
        <td><button onclick="agregarProyecto()">Agregar Proyecto</button></td>
        <td></td>
      </tr>
        
      
  </table>
        </div>
        
      </main>

      <script>
        function agregarProyecto() {
    // Obtener los valores de los campos de entrada
        const idproyecto = document.getElementById('idproyecto').value;
        const titulo= document.getElementById('titulo').value;
        const descripcion = document.getElementById('descripcion').value;
        const idalumno= document.getElementById('idalumno').value;

    // Realizar una solicitud al servidor para agregar un nuevo alumno
        fetch('/agregarProyecto', {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json'
        },
          body: JSON.stringify({
            idproyecto: idproyecto,
            titulo: titulo,
            descripcion: descripcion,
            idalumno: idalumno
          })
        })
        .then(response => {
        if (response.ok) {
        // Actualizar la página o realizar alguna acción adicional
        } else {
          console.error('Error al agregar el Proyecto');
        }
        })
        .catch(error => {
          console.error('Error al realizar la solicitud:', error);
        });
        }

        function editarProyecto(button, proyectoId){
          const titulo = button.parentNode.parentNode.querySelector('input[name="f_titulo"]').value;
          const descripcion =button.parentNode.parentNode.querySelector('input[name="f_descripcion"]').value;

          fetch(`/editarProyecto/${proyectoId}`,{
            method: 'PUT',
            headers:{
              'Content-Type': 'application/json'
            },
            body:JSON.stringify({
              titulo:titulo,
              descripcion:descripcion
            })
          })
          .then(response=>{
            if (response.ok){
              "/proyectos-admin"
            }else{
              console.error('Error al editar el proyecto');
            }
          })
          .catch(error => {
            console.error('Error al realizar la solicitud:', error);
          });
        }
        
        function borrarProyecto(button) {
        const proyectoId = button.dataset.proyectoId; // Obtener el ID del alumno desde el atributo data-alumno-id

         // Realizar una solicitud al servidor para borrar el alumno
        fetch(`/borrarProyecto/${proyectoId}`, {
          method: 'DELETE'
        })
        .then(response => {
        if (response.ok) {
        // Actualizar la página o realizar alguna acción adicional
        } else {
          console.error('Error al borrar el proyecto');
        }
      })
      .catch(error => {
        console.error('Error al realizar la solicitud:', error);
      });
      }

      </script>
</body>
</html>